# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.codelite/.tern-port
.codelite/.tern-project
.codelite/compilation.db
.codelite/practice.session
.codelite/practice.tags
.codelite/refactoring.db
Makefile
practice.tags
practice.workspace
PrimeNumbers/PrimeNumbers.mk
PrimeNumbers/PrimeNumbers.project
PrimeNumbers/PrimeNumbers.txt
*.mk
*.project
*.txt
*.layout
*.cbp
*.depend
